In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
path= "./Data/REDD/low_freq/house_1/channel_1.dat"
df= pd.read_csv(path,sep=" ",header=None, index_col=0)

In [11]:
df.head()

                 1
0
1303132929  224.19
1303132930  225.57
1303132931  226.09
1303132932  222.74
1303132933  222.20

In [ ]:
for

In [15]:
df.plot()
plt.xlabel("Timestamp")

In [44]:
label_file="./Data/REDD/low_freq/house_1/labels.dat"
labels= pd.read_csv(label_file,sep=" ",header=None, names=["Label", "Name"])

In [48]:
labels.set_index("Label")

                  Name
Label
1                mains
2                mains
3                 oven
4                 oven
5         refrigerator
6            dishwaser
7      kitchen_outlets
8      kitchen_outlets
9             lighting
10        washer_dryer
11           microwave
12        bathroom_gfi
13       electric_heat
14               stove
15     kitchen_outlets
16     kitchen_outlets
17            lighting
18            lighting
19        washer_dryer
20        washer_dryer

In [ ]:
# reading fridage

In [84]:
data_file="./Data/REDD/low_freq/house_1/channel_5.dat"
ref_power= pd.read_csv(data_file,sep=" ",header=None, names=["Timestamp", "Power"])
ref_power.set_index("Timestamp", inplace=True)
mean_power=ref_power["Power"].mean()
print "mean refrigerator power: ", mean_power

mean refrigerator power:  56.7137588185

In [86]:
ref_power["Power"].diff(periods=1).max()

2352.0

In [122]:
ref_power.plot()
plt.show()

In [144]:
df= pd.DataFrame(data=ref_power["Power"].diff(periods=1), index=ref_power.index)
df.head()

            Power
Timestamp
1303132933    NaN
1303132936      0
1303132940      0
1303132943      0
1303132946      0

In [137]:
df.plot()
plt.show()

In [159]:
event=df.copy()
event[np.abs(event.Power)<=threshold]=np.nan
event[event.Power>=threshold]=1
event[event.Power<=-threshold]=0

In [160]:
event.isnull().sum()

Power    744413
dtype: int64

In [161]:
event.fillna(method='backfill', inplace=True)
event.isnull().sum()

Power    102
dtype: int64

In [164]:
plt.show()
event.plot()

In [165]:
event.head()

            Power
Timestamp
1303132933      1
1303132936      1
1303132940      1
1303132943      1
1303132946      1

In [170]:
fig, axes = plt.subplots(nrows=2, ncols=2)
ref_power.iloc[0:1000, :].plot(ax=axes[0,0])
event.iloc[0:1000, :].plot(ax=axes[0,1])